In [ ]:
import sklearn

In [1]:
from sklearn.datasets import make_circles

n_samples = 1000

X, y = make_circles(n_samples, noise=0.05, random_state=42)

In [2]:
len(X), len(y)

(1000, 1000)

In [5]:
X[:5], y[:5]

(array([[-0.24183046,  0.42516296],
        [ 0.20976262, -0.48994789],
        [ 0.42792617,  0.04011244],
        [ 0.8816257 ,  0.41698355],
        [-0.47008918, -0.17129691]]),
 array([1, 1, 1, 0, 1], dtype=int64))

In [8]:
import pandas as pd

circles = pd.DataFrame({'X1': X[:, 0], # all of the rows in the first column
                        'X2' : X[:, 1], # all of the rows in the second column
                        'lablel' : y})

In [9]:
circles.head(10)

         X1        X2  lablel
0 -0.241830  0.425163       1
1  0.209763 -0.489948       1
2  0.427926  0.040112       1
3  0.881626  0.416984       0
4 -0.470089 -0.171297       1
5 -0.505768  0.016079       1
6 -0.196909  0.507493       1
7 -0.093804 -1.006379       0
8  0.931845  0.182263       0
9  0.285505  0.437637       1